.container-fluid, h1{
  padding: 0;
  margin: 0;
}

.card-img{
  width: 60%;
}

/** Image Carousel  **/
.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 30%);
    transform: translate(-50%, 30%);
}

.carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.close{
	position: absolute;
  opacity: 0.7;
	top: 3%;
	left: 90%;
	z-index: 5;
	display: inline-block;
	color: #fff;
	font-size: 4rem;
  font-weight: 800;
}

.close:hover{
  color: #fff;
	opacity: 1;
}
/********************/

/** MEDIA QUERIES **/
@media screen and (max-width: 991px) {
    .card-img{
      width: 100%;
    }
}
/*********************/
