body{
  font-family: 'Lato', sans-serif;
  background-image: url('../img/bg2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
}

.card{
  background-color: #fff;
  text-align: center;
  margin: 25px 5px;
  border: 1px solid rgba(207,207,207,1);
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 95%;
  padding-bottom: 20px;
}

.card:hover{
  box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  webkit-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  -moz-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
}

.card>div img:hover{
  cursor: pointer;
}

.fa-chevron-circle-up:hover, .fa-chevron-circle-down:hover{
  cursor: pointer;
}

.dropdown-menu-animate{height: 220px; background-color: #616161; opacity: 1; -webkit-animation-name: tileAnimation; /* Safari 4.0 - 8.0 */ -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */ animation-name: tileAnimation; animation-duration: .5s; }
.dropdown-menu-remove{height: 41px; background-color: #616161; opacity: 1; -webkit-animation-name: tileAnimationRemove; /* Safari 4.0 - 8.0 */ -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */ animation-name: tileAnimationRemove; animation-duration: .5s; }

.showAdvancedSearch{
  display: block;
}

.hideAdvancedSearch{
  display: none;
}

.detailsHeading{
  color: #fff;
}

.text-box{
  width: 80%;
  display: inline;
  margin-left: 10px
}

.btn-arrow{
  background-color: transparent;
  height: 129px;
  padding-left: 0;
  padding-right: 0;
}

.left-arrow{
  background-color: #a4a4a4;
  height: 300px;
  margin-right: 5px;
  -webkit-clip-path: polygon(50% 0%, 87% 0, 100% 0, 100% 22%, 72% 22%, 39% 22%, 21% 43%, 0% 43%, 0 0);
  clip-path: polygon(50% 0%, 87% 0, 100% 0, 100% 22%, 72% 22%, 39% 22%, 21% 43%, 0% 43%, 0 0);
}

.left-arrow:hover{
  cursor: pointer
}

.left-arrow h4{
  position: absolute;
  top: 35px;
  left: 16px;
  font-size: 24px;
}

.right-arrow{
  background-color: #a4a4a4;
  height: 300px;
  margin-left: 5px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 74% 43%, 60% 22%, 60% 22%, 26% 22%, 0 22%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 74% 43%, 60% 22%, 60% 22%, 26% 22%, 0 22%, 0 0);
}

.right-arrow:hover{
  cursor: pointer;
}

.right-arrow h4{
  position: absolute;
  top: 35px;
  right: 16px;
  font-size: 24px;
}

@keyframes tileAnimation {
  0%   {height: 0;}
  100% {height: 220px;}
}

@keyframes tileAnimationRemove {
  0%   {height: 220px;}
  100% {height: 41px;}
}

@media only screen and (min-width: 990px) and (max-width: 1330px) {
  .text-box{
    width: 75%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 820px) {
  span.badges {
    display: table;
    margin-top: 10px;
  }

  .tileList > div{
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px){
  .card{
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  span.badges {
    display: table;
    margin-top: 10px;
  }

  .card{
    width: 100%;
  }
}
